@import "../../../styleVariables.scss";

.list {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;

  .link {
    align-items: center;
    color: $primary;
    display: flex;
    font-size: 25px;
    justify-content: center;
    overflow: hidden;
    position: relative;

    &:hover {
      color: $link;
    }

    &:hover .icon {
      transform: rotateX(0) translateY(0);
      transition: transform 500ms ease-in;
    }

    &:hover .txt {
      transform: rotateX(90deg) translateY(30px);
      transition: transform 500ms ease-out;
    }

    .icon {
      background-color: $secondary;
      position: absolute;
      transform: rotateX(-90deg) translateY(-30px);
      transform-origin: top;
      transition: transform 500ms ease-out;
    }

    .txt {
      transform: rotateX(0) translateY(0);
      transform-origin: bottom;
      transition: transform 500ms ease-in;
    }
  }
}

@media (max-width: 820px) {
  .menuOpen {
    display: flex;
    flex-direction: column;
  }

  .menuClose {
    display: none;
  }
}
