@import "../../../styleVariables.scss";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;

  .link {
    background-color: $secondary;
    border-radius: 5px;
    color: $primary;
    padding: 1rem;
  }
  .resumeContainer {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    padding: 1rem;

    .imgContainer {
      width: 30%;
      .resume {
        width: 100%;
      }
    }
  }
}

@media (max-width: 820px) {
  .container {
    .resumeContainer {
      align-items: center;
      flex-direction: column;

      .imgContainer {
        width: 100%;
      }
    }
  }
}
