@import "../../../../styleVariables.scss";

.inputControl {
  display: flex;
  flex-direction: column;
  padding: 1em 0.5em;
  width: 100%;

  .errorStyle {
    color: $alt;
    margin: 0;
  }

  input {
    border: none;
    border-radius: 8px;
    padding: 0.75em;
    width: 100%;
  }

  label {
    font-size: 20px;
  }
}
