@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&display=swap");

//colors
$alt: #e49273;
$error: #e63462;
$link: #bc96e6;
$primary: #5adbff;
$secondary: #094074;
$shadow: rgba(0, 0, 0, 0.7);

//font-family
$fontFamily: "Playfair Display", serif;

//font-weights
$regular: 400;
$semi-bold: 600;
$bold: 800;
